<!--{if empty($_G['uploadjs'])}-->
	<link rel="stylesheet" type="text/css" href="{STATICURL}js/webuploader/webuploader.css?{VERHASH}">
	<style>
		.webuploader-pick {
			padding: 4px 5px;
			height: 20px;
		}
	</style>
	<!--<script src="{STATICURL}js/jquery.min.js?{VERHASH}"></script>-->
	<script type="text/javascript" src="{STATICURL}js/webuploader/webuploader.nolog.js?{VERHASH}"></script>
	<script type="text/javascript" src="{$_G[setting][jspath]}/webupload.js?{VERHASH}"></script>
	{eval $_G['uploadjs'] = 1;}
<!--{/if}-->